[Unit]
Description=Mzzb Server
Requires=mysql.service rabbitmq-server.service
After=mysql.service rabbitmq-server.service

[Service]
Type=forking
User=ubuntu
PIDFile=/home/ubuntu/mzzb-server/var/run.pid
WorkingDirectory=/home/ubuntu/mzzb-server
ExecStart=bash app.sh start
ExecStop=bash app.sh stop

[Install]
WantedBy=multi-user.target
