[Unit]
Description=Mzzb Spider

[Service]
Type=exec
User=bcloud
PIDFile=/home/bcloud/mzzb-spider/var/run.pid
ExecStop=bash -l /home/bcloud/mzzb-spider/app.sh stop
ExecStart=bash -l /home/bcloud/mzzb-spider/app.sh start

[Install]
WantedBy=multi-user.target
