[Unit]
Description=Mzzb Spider

[Service]
Type=exec
User=ubuntu
PIDFile=/home/ubuntu/mzzb-spider/var/run.pid
WorkingDirectory=/home/ubuntu/mzzb-spider
ExecStart=bash app.sh start
ExecStop=bash app.sh stop

[Install]
WantedBy=multi-user.target
