[Unit]
Description=Mzzb Server
Requires=mysql.service docker.service
After=mysql.service docker.service

[Service]
Type=forking
User=qcloud
PIDFile=/home/qcloud/mzzb-server/var/run.pid
ExecStop=bash -l /home/qcloud/mzzb-server/app.sh stop
ExecStart=bash -l /home/qcloud/mzzb-server/app.sh start
ExecStartPre=bash -l /home/qcloud/mzzb-admin/nginx/app.sh init
ExecStartPre=bash -l /home/qcloud/mzzb-admin/rabbitmq/app.sh init

[Install]
WantedBy=multi-user.target
