[Unit]
Description=Mzzb Server
Requires=mysql.service
After=mysql.service

[Service]
Type=forking
User=ubuntu
PIDFile=/home/ubuntu/mzzb-server/var/run.pid
ExecStop=bash /home/ubuntu/mzzb-server/app.sh stop
ExecStart=bash /home/ubuntu/mzzb-server/app.sh start
ExecStartPre=bash /home/ubuntu/docker/rabbitmq/app.sh init

[Install]
WantedBy=multi-user.target
